@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

@media screen and (min-width:922px) {
    * {
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
    
    header {
        height: 560px;
        background: linear-gradient(180deg, rgba(215, 212, 255, 1) 70%,rgb(255, 255, 255));
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vw;
        flex-wrap: wrap;
    }
    
    .header-title {
        width: 320px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    
    .header-title > h1{
        font-family: 'Merriweather', serif;
    }
    
    .header-title > button {
        height: 50px;
        width: 155px;
        border-radius: 5px;
        border-style: none;
        background-color: #6C63FF;
        color: white;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 20px;
    }
    
    main {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        column-gap: 100px;
    }
    
    #c1 > img {background-color: #FF6363;}
    #c2 > img {background-color: #63ECFF;}
    #c3 > img {background-color: #F363FF;}
    #c4 > img {background-color: #63FF73;}
    #c5 > img {background-color: #FFDD63;}
    #c6 > img {background-color: #6663FF;}
    
    .cards {
        width: 300px;
        max-width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        box-shadow:  5px 5px 30px #868686,
                    -5px -5px 30px #ffffff;
        margin-top: 60px;
        border-radius: 5px;
    }
    
    .cards > img {
        width: 100% auto;
        height: 200px;
        border-radius: 5px 5px 0px 0px;
        position: static;
    }
    
    .cards > h1 {
        font-family: 'Merriweather', serif;
        font-size: 24px;
        font-weight: 700;
        padding-left: 40px;
    }
    
    .cards > p {
        font-family: 'Lato';
        font-size: 18px;
        font-weight: 400;
        color: #555555;
        padding-left: 40px;
    }
}



@media screen {
    
}